
.main-bg {
  background-image: url('../img/bg2.jpeg');
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.carousel-img{
  height: 200px;
  width: 200px;
}

/* .carousel-control-next-icon, .carousel-control-prev {
  align-self: auto;
  border-color: black;
  border-radius: 10%;
  border-collapse: inherit;
  background-color: brown;
} */

.carousel-control-prev, .carousel-control-next {
  width: 5%;
  background-color: black;
}
.carousel-inner {
  width: 90%;
  margin: auto;
  margin-inline: 10%;
}


.white-bg {
  background: var(--white-color);
  color: var(--primary-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 65px;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}